/* Reset the slider (make it invisible on all browsers) */

input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    padding: 0;
    margin: 0;
}

input[type=range].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

input[type=range].slider:focus {
    outline: none;
}

input[type=range].slider::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Now apply our styles to it */

/* background */
input[type=range].slider {
    background: #eee;

    height: 10px;
    border-radius: 5px;
}

/* handle */
input[type=range].slider::-webkit-slider-thumb {
    background: #aaa;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

input[type=range].slider::-webkit-slider-thumb:hover {
    background: #00d1b2;
    transition: background .15s ease-in-out;
}

input[type=range].slider::-webkit-slider-thumb:active {
    background: #00d1b2;
}

input[type=range].slider::-moz-range-thumb {
    background: #aaa;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: background .15s ease-in-out;
}

input[type=range].slider::-moz-range-thumb:hover {
    background: #00d1b2;
}

input[type=range].slider::-moz-range-thumb:active {
    background: #00d1b2;
}

/* Disabled */
input[type=range].slider.disabled::-webkit-slider-thumb {
    cursor: default;
    appearance: none;
    visibility: hidden;
}

input[type=range].slider.disabled::-moz-range-thumb {
    cursor: default;
    appearance: none;
    visibility: hidden;
}
